In [1]:
import pandas as pd
excel_file = "/home/jovyan/work/online_retail.xlsx"

df = pd.read_excel(excel_file)

csv_file = "/home/jovyan/work/online_retail.csv"

df.to_csv(csv_file, index=False)

In [2]:
from pyspark.sql import SparkSession

# Create SparkSession 
spark = SparkSession.builder \
      .master("local[1]") \
      .appName("SparkFirst") \
      .getOrCreate()

In [3]:
from pyspark.sql import functions as f

In [4]:
df = spark.read.csv(csv_file, header=True, inferSchema=True)

In [5]:
df.show()

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 08:26:00|     2.55|   17850.0|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|2010-12-01 08:26:00|     2.75|   17850.0|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|2010-12-01 08:26:00|     7.65|   17850.0|United Kingdom|
|   536365|    21730|GLASS STAR FROSTE...|       6|2010-12-01 08:26:00|     4.25|   17850.0|United Kingdom|
|   536366|    22633|HAND WARMER UNION...|       6|2010-12-01 08:28:00|     1.85|   17850.0|United Kingdom|
|   536366|    22632|HAND WARMER RED P...|       6|2010-12-01 08:28:00|     1.85|   17850.0|United Kingdom|
|   536367|    84879|ASSORTED COLOUR B...|      32|2010-12-01 08:34:00|     1.69|   13047.0|United Kingdom|
|   536367|    22745|POPPY'S PLAYHOUSE...|       6|2010-12-01 08:34:00|      2.1|   13047.0|United Kingdom|
|   536367|    22748|POPPY'S PLAYHOUSE...|       6|2010-12-01 08:34:00|      2.1|   13047.0|United Kingdom|
|   536367|    22749|FELTCRAFT PRINCES...|       8|2010-12-01 08:34:00|     3.75|   13047.0|United Kingdom|
|   536367|    22310|IVORY KNITTED MUG...|       6|2010-12-01 08:34:00|     1.65|   13047.0|United Kingdom|
|   536367|    84969|BOX OF 6 ASSORTED...|       6|2010-12-01 08:34:00|     4.25|   13047.0|United Kingdom|
|   536367|    22623|BOX OF VINTAGE JI...|       3|2010-12-01 08:34:00|     4.95|   13047.0|United Kingdom|
|   536367|    22622|BOX OF VINTAGE AL...|       2|2010-12-01 08:34:00|     9.95|   13047.0|United Kingdom|
|   536367|    21754|HOME BUILDING BLO...|       3|2010-12-01 08:34:00|     5.95|   13047.0|United Kingdom|
|   536367|    21755|LOVE BUILDING BLO...|       3|2010-12-01 08:34:00|     5.95|   13047.0|United Kingdom|
|   536367|    21777|RECIPE BOX WITH M...|       4|2010-12-01 08:34:00|     7.95|   13047.0|United Kingdom|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
only showing top 20 rows

In [44]:
# общее число строк
df.count()

541909

In [69]:
# Количество уникальных клиентов
df_customer = df.groupBy('CustomerID').count().count()
df_customer

4373

In [111]:
# В какой стране совершается большинство покупок
df_country = df.groupBy('Country').count()
df_country.select('Country').filter(col('count')== df_country.agg(f.max('count')).collect()[0][0]).show()

+--------------+
|       Country|
+--------------+
|United Kingdom|
+--------------+

In [115]:
# Даты самой ранней и самой последней покупки на платформе
df.agg(f.min('InvoiceDate').alias('min_data'), f.max('InvoiceDate').alias('max_data')).show()

+-------------------+-------------------+
|           min_data|           max_data|
+-------------------+-------------------+
|2010-12-01 08:26:00|2011-12-09 12:50:00|
+-------------------+-------------------+

In [ ]:
# RFM-анализ
df_group = df.groupBy('CustomerID').agg(f.max('InvoiceDate').alias('max_data'))
df_group.select('CustomerID').show()

In [96]:
df.createOrReplaceTempView("retail")
RFM = spark.sql("SELECT *, CONCAT_WS('', Frequency_value, Recency_value, Monetary_value) AS sum_value \
        FROM(SELECT CustomerID, Frequency, Recency, Monetary, \
            CASE  \
                WHEN Frequency < 100 THEN 'C' \
                WHEN Frequency >= 100 AND Frequency < 200 THEN 'B' \
                WHEN  Frequency >= 200 THEN 'A' \
            END AS Frequency_value, \
            CASE  \
                WHEN Recency < 4300 THEN 'A' \
                WHEN Recency >= 4300 AND Recency < 4400 THEN 'B' \
                WHEN Recency >= 4400 THEN 'C' \
            END AS Recency_value, \
            CASE  \
                WHEN Monetary < 100 THEN 'C' \
                WHEN Monetary >= 100 AND Monetary < 300 THEN 'B' \
                WHEN Monetary >= 300 THEN 'A' \
            END AS Monetary_value \
            FROM( SELECT datediff(current_date(),MAX(InvoiceDate)) AS Recency, \
                    COUNT(InvoiceNo) AS Frequency, SUM(UnitPrice) AS Monetary, CustomerID  \
                FROM retail GROUP BY CustomerID))")

In [97]:
RFM.show()

+----------+---------+-------+------------------+---------------+-------------+--------------+---------+
|CustomerID|Frequency|Recency|          Monetary|Frequency_value|Recency_value|Monetary_value|sum_value|
+----------+---------+-------+------------------+---------------+-------------+--------------+---------+
|   16916.0|      143|   4312| 317.5199999999999|              B|            B|             A|      BBA|
|   17884.0|      117|   4292| 224.1699999999998|              B|            A|             B|      BAB|
|   13094.0|       30|   4310|             38.31|              C|            B|             C|      CBC|
|   16596.0|       12|   4304| 49.24999999999999|              C|            B|             C|      CBC|
|   17633.0|       72|   4320|206.32000000000008|              C|            B|             B|      CBB|
|   18114.0|       28|   4579|154.95000000000002|              C|            C|             B|      CCB|
|   13973.0|       11|   4576|             41.32|              C|            C|             C|      CCC|
|   14473.0|        7|   4363|             28.75|              C|            B|             C|      CBC|
|   13956.0|      152|   4294| 520.2499999999995|              B|            A|             A|      BAA|
|   13533.0|       76|   4471|            146.93|              C|            C|             B|      CCB|
|   13918.0|       30|   4338|             65.56|              C|            B|             C|      CBC|
|   12493.0|       23|   4454|111.75000000000001|              C|            C|             B|      CCB|
|   14285.0|       27|   4310|130.14999999999998|              C|            B|             B|      CBB|
|   15776.0|       18|   4422|             75.31|              C|            C|             C|      CCC|
|   14768.0|        6|   4306|              22.5|              C|            B|             C|      CBC|
|   17267.0|       38|   4416|            129.25|              C|            C|             B|      CCB|
|   14024.0|       16|   4410|             59.22|              C|            C|             C|      CCC|
|   16629.0|       64|   4362|156.98999999999998|              C|            B|             B|      CBB|
|   14452.0|       62|   4299|            193.92|              C|            A|             B|      CAB|
|   16561.0|       31|   4294| 88.61000000000001|              C|            A|             C|      CAC|
+----------+---------+-------+------------------+---------------+-------------+--------------+---------+
only showing top 20 rows

In [99]:
RFM.createOrReplaceTempView('rfm')
load_customer = spark.sql("SELECT CustomerID FROM rfm WHERE sum_value = 'AAA'")

In [102]:
load_customer.write \
    .format("csv") \
    .option("header", "true") \
    .save("/home/jovyan/work/customer_id_1.csv")